<%= form_for(@bewertung) do |f| %>
  <% if @bewertung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bewertung.errors.count, "error") %> prohibited this bewertung from being saved:</h2>

      <ul>
      <% @bewertung.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bewertungswert %><br>
    <%= f.number_field :bewertungswert %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :karteikarten_id %><br>
    <%= f.text_field :karteikarten_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
