<%= form_for(@kurse) do |f| %>
  <% if @kurse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kurse.errors.count, "error") %> prohibited this kurse from being saved:</h2>

      <ul>
      <% @kurse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kursname %><br>
    <%= f.text_area :kursname %>
  </div>
  <div class="field">
    <%= f.label :gruppen_id %><br>
    <%= f.text_field :gruppen_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
