<%= form_for(@gruppen) do |f| %>
  <% if @gruppen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gruppen.errors.count, "error") %> prohibited this gruppen from being saved:</h2>

      <ul>
      <% @gruppen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gruppenname %><br>
    <%= f.text_area :gruppenname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
