<h1>Listing gruppens</h1>

<table>
  <thead>
    <tr>
      <th>Gruppenname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gruppens.each do |gruppen| %>
      <tr>
        <td><%= gruppen.gruppenname %></td>
        <td><%= link_to 'Show', gruppen %></td>
        <td><%= link_to 'Edit', edit_gruppen_path(gruppen) %></td>
        <td><%= link_to 'Destroy', gruppen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gruppen', new_gruppen_path %>
